<% var cover = item.cover_index;%>
          <a href="<%- config.root %><%- item.path %>">
					<img src="<%- cover+"1.jpeg" || theme.default_cover_index %>" width="350" height="400" alt="Demo2 second" title="Demo2 second">
          </a>

          <a href="<%- config.root %><%- item.path %>">
          <img src="<%- cover+"2.jpeg" || theme.default_cover_index %>" width="350" height="400" alt="Demo2 second" title="Demo2 second">
          </a>

          <a href="<%- config.root %><%- item.path %>">
          <img src="<%- cover+"3.jpeg" || theme.default_cover_index %>" width="350" height="400" alt="Demo2 second" title="Demo2 second">
          </a>
